@page
@model IndexModel

@{
	ViewData["Title"] = "Home page";
}



<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Iguanas</a>.</p>
</div>


@section footer {
	<h1>hello, this is (near) the end of the page</h1>
}

